body {
  background-color: grey;
  font-family: "Honk", system-ui;
}

img {
  height: 5em;
}

.dices {
  display: flex;
  position: relative;
  justify-content: center;
  justify-content: space-between;
  /* justify-content: space-around; */
  margin: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

.heading {
  font-size: 4em;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-align: center;
  margin-bottom: 0;
}

.retry {
  text-align: center;
  margin-top: 10%;
}

.retry-btn {
  background-color: grey;
  border: 0;
}
